<!-- use ejs-mate /views/boilerplate layout -->
<% layout("layouts/boilerplate") %>
<main>
  <h1><%= result.name %></h1>
  <div class="detailsContainer">
    <img src="<%= result.image %> " class="detailsImage" />
    <div>Description: <%= result.description %></div>
    <div>Location: <%= result.location %></div>
    <div class="price">$<%= result.fee %></div>
    <div class="buttonContainer">
      <a class="anchorButton" href="/libraries">Back</a>
      <a class="anchorButton" href="/libraries/<%= result._id %>/edit">Edit</a>
    </div>
  </div>
</main>
