<!-- use ejs-mate /views/boilerplate layout -->
<% layout("layouts/boilerplate") %>
<main>
  <h1><%= result.name %></h1>
  <div class="mainDetailsContainer">

    <div class="libDetailsContainer">
      <img src="<%= result.image %> " class="detailsImage" />
      <div>Description: <%= result.description %></div>
      <div>Location: <%= result.location %></div>
      <div class="price">$<%= result.fee %></div>
      <div class="buttonContainer">
        <a class="anchorButton" href="/libraries">Back</a>
        <a class="anchorButton" href="/libraries/<%= result._id %>/edit">Edit</a>
      </div>
    </div>

    <div class="reviewsContainer">
      <div class="reviewsTitle">Reviews</div>
      <div class="reviewsList">
        <% for (let i = 0; i < 40; i++) {  %>
        <div class="reviewItem">
          <div><span class="reviewer">review title</span><span class="rating">rating</span></div>
          <div>review text</div>
        </div>
        <% } %>
      </div>
      <form action="libraries/<%= result.id %>/reviews" method="post" onsubmit="event.preventDefault(); return validateForm.reviewForm()">
        <div>Leave a review</div>
        <textarea name="review[text]" id="review"></textarea>
        <!-- <input type="text" name="review" id="review"> -->
        <div>
          <% for (let i = 1; i <= 5; i++) { %>
          <label id="ratingLabel">
            <input type="radio" value="<%= i %>" name="review[rating]"><%= i %>
          </label>
          <% } %>
        </div>
        <button>Submit review</button>
      </form>
    </div>

  </div>
</main>