<!-- use ejs-mate /views/boilerplate layout -->
<% layout("layouts/boilerplate") %>
<main>
  <h1><%= result.name %></h1>
  <div class="mainDetailsContainer">

    <div class="libDetailsContainer">
      <img src="<%= result.image %> " class="detailsImage" />
      <div>Description: <%= result.description %></div>
      <div>Location: <%= result.location %></div>
      <div class="price">$<%= result.fee %></div>
      <div class="buttonContainer">
        <a class="anchorButton" href="/libraries">Back</a>
        <a class="anchorButton" href="/libraries/<%= result._id %>/edit">Edit</a>
      </div>
    </div>

    <div class="reviewsContainer">
      <div class="reviewsTitle">Reviews</div>
      <div class="reviewsList">
        <% for (review of result.reviews) {  %>

        <div class="reviewItem">
          <div><span class="reviewer"><%= review.user %></span><span class="rating"><%= review.rating %> </span></div>
          <div><%= review.text %> </div>
          <div>
            <form action="">
              <button>edit</button>
            </form>
            <form action="/libraries/<%= result._id %>/reviews/<%= review._id %>?_method=delete" method="post">
              <button>delete</button>
            </form>
          </div>
        </div>

        <% } %>

      </div>
      <form action="libraries/<%= result.id %>/reviews" method="post" onsubmit="return validateForm.reviewForm()">
        <div>Leave a review</div>
        <textarea name="review[text]" id="review"></textarea>
        <div>
          <% for (let i = 1; i <= 5; i++) { %>
          <label id="ratingLabel">
            <input type="radio" value="<%= i %>" name="review[rating]" <% if(i===3){%> checked <% } %>><%= i %>
          </label>
          <% } %>
        </div>
        <button>Submit review</button>
      </form>
    </div>

  </div>
</main>