<!-- use ejs-mate /views/boilerplate layout -->
<% layout("layouts/boilerplate") %>

<% if (result) { %>

<!-- inject variable directly to js file -->
<!-- this makes the result variable available in the connected the file -->
<script>
  const resultExport = <%- JSON.stringify(result) %>; //converts a JavaScript object or value to a JSON string
</script>
<% } %>

<main>
  <h1><%= result.name %></h1>
  <div class="mainDetailsContainer">

    <div class="libDetailsContainer">
      <div>Submitted by <%= result.owner.username %> </div>

      <div id="detailsMap" class="hidden"></div>

      <% if (typeof result.images !== undefined  && result.images.length > 0) {%>
      <%- include("../partials/carousel") %>
      <% } %>

      <div class="description">Description: <%= result.description %></div>
      <div class="locationDiv">
        Location: <%= result.location %>
        <span class="mapButton">VIEW</span>
      </div>
      <div class="price">$<%= result.fee %></div>
      <div class="buttonContainer">
        <a class="anchorButton" href="/libraries">Back</a>
        <% if ( user && (user._id.valueOf() === result.owner._id.valueOf())) {%>
        <a class="anchorButton" href="/libraries/<%= result._id %>/edit">Edit</a>
        <% } %>
      </div>
    </div>

    <div class="reviewsContainer" <% if (!user) { %> style="justify-content: flex-start" <% } %>>
      <div class="reviewsTitle">Reviews</div>
      <div class="reviewsList" <% if (!user) { %> style="height: 100%" <% } %>>
        <% if (result.reviews.length > 0) {%>
        <% for (review of result.reviews) {  %>
        <div class="reviewItem">
          <div>
            <span class="reviewer"><%= review.owner.username %></span>
            <span class="rating">
              <% for (let i = review.rating; i>0; i--) {%>
              &#9733;
              <% } %>
              <% for (let i = review.rating; i<5; i++) {%>
              &#9734;
              <% } %>
            </span>
          </div>
          <div><%= review.text %> </div>
          <% if (user && (user._id.valueOf() === review.owner._id.valueOf())) { %>
          <div>
            <!-- <form action="">
              <button>edit</button>
            </form> -->
            <form action="/libraries/<%= result._id %>/reviews/<%= review._id %>?_method=delete" method="post">
              <button>delete</button>
            </form>
          </div>
          <% } %>
        </div>
        <% } %>
        <% } else {%>
        No reviews yet
        <% } %>

      </div>
      <% if ( user ) {%>
      <form action="libraries/<%= result.id %>/reviews" method="post" data-form-type="review">
        <div>Leave a review</div>
        <textarea name="review[text]" id="review"></textarea>
        <div class="starRate">
          <% for (let i = 5; i > 0 ; i--) { %>
          <input type="radio" value="<%= i %>" id="<%= i %>star" name="review[rating]" <% if(i===3){%> checked <% } %>>
          <label id="ratingLabel" for="<%= i %>star"><%= i %></label>
          <% } %>
        </div>
        <button>Submit review</button>
      </form>
      <% } %>
    </div>

  </div>
</main>

<script>
  const mapboxToken = "<%= process.env.MAPBOX_TOKEN %>"
  const geometry = <%- JSON.stringify(result.geometry) %>
</script>
<script src="/scripts/detailsMapbox.js"></script>