<!-- use ejs-mate /views/boilerplate layout -->
<% layout("layouts/boilerplate") %>
<main>
  <h1>Editing <%= result.name %></h1>

  <form action="/libraries/<%= result._id %>?_method=put" method="post" class="editForm" enctype="multipart/form-data" onsubmit="return validateForm.library()">
    <div>
      <label for="name">Name:</label>
      <input type="text" name="lib[name]" id="name" autocomplete="off" value="<%=result.name%>" />
    </div>
    <div>
      <label for="description">Description:</label>
      <input type="text" name="lib[description]" id="description" autocomplete="off" value="<%=result.description%>" />
    </div>
    <div>
      <label for="location">Location:</label>
      <input type="text" name="lib[location]" id="location" autocomplete="off" value="<%=result.location%>" />
    </div>
    <div>
      <label for="fee">Fee:</label>
      <input type="number" name="lib[fee]" id="fee" autocomplete="off" value="<%=result.fee%>" step="0.01" />
    </div>
    <div>
      <label for="img">Upload image:</label>
      <input type="file" name="lib[img]" id="img" multiple />
    </div>
    <button>Submit</button>
  </form>

  <div class="buttonContainer">
    <a class="anchorButton" href="/libraries/<%= result.id %>">Back</a>
    <form action="/libraries/<%= result.id %>?_method=delete" method="post">
      <button>Delete</button>
    </form>
  </div>
</main>