<!-- use ejs-mate /views/boilerplate layout -->
<% layout("layouts/boilerplate") %> <% if (result) { %>

<!-- inject variable directly to js file -->
<!-- this makes the result variable available in the connected the file -->
<script>
  const resultExport = <%- JSON.stringify(result) %>; //converts a JavaScript object or value to a JSON string
</script>
<% } %>

<main>
  <h1>Showing all libraries</h1>
  <div class="columnContainer">
    <% if(result.length < 1) { %>
    <p>No items yet, <a href="/libraries/new">Create a new one!</a></p>
    <% } %>
    <% for (let libs of result) { %>
    <div class="columnContent">
      <img src="<%= libs.images[0].url %> " alt="" class="indexImage" crossorigin="anonymous" />
      <div class="indexInfo">
        <a href="/libraries/<%= libs._id %>" class="indexTitle"><%= libs.name %>
        </a>
        <span><%= libs.description %></span>
        <div>
          <div><%= libs.location %></div>
          <div class="price">$<%= libs.fee %></div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</main>

<script>
  const mapboxToken = "<%= process.env.MAPBOX_TOKEN %>"
  const result = {
    features: <%- JSON.stringify(result) %>
  }
</script>
<script src="/scripts/indexMapbox.js"></script>