<!-- use ejs-mate /views/boilerplate layout -->
<% layout("layouts/boilerplate") %>
<main>
  <h1>Showing all libraries</h1>
  <div class="columnContainer">
    <% for (let libs of result) { %>
    <div class="columnContent">
      <img src="<%= libs.image  %> " alt="" class="indexImage" />
      <div>
        <span class="indexTitle"><%= libs.name %></span>
        <ul class="indexInfo">
          <li><%= libs.description %></li>
          <li><%= libs.location %></li>
          <li>$<%= libs.fee %></li>
        </ul>
      </div>
    </div>
    <% } %>
  </div>
</main>
