<!-- use ejs-mate /views/boilerplate layout -->
<% layout("layouts/boilerplate") %> <% if (result) { %>

<!-- inject variable directly to js file -->
<!-- this makes the result variable available in the connected the file -->
<script>
  const resultExport = <%- JSON.stringify(result) %>; //converts a JavaScript object or value to a JSON string
</script>
<% } %>

<main>
  <h1>Showing all libraries</h1>
  <div class="columnContainer">
    <% for (let libs of result) { %>
    <div class="columnContent">
      <img src="<%= libs.image  %> " alt="" class="indexImage" />
      <div>
        <!-- hacky id as variable workaround -->
        <!-- <a
          href="/libraries/<%= libs._id %>"
          class="indexTitle"
          id="<%= libs.id %>"
          ><%= libs.name %>
        </a> -->

        <a href="/libraries/<%= libs._id %>" class="indexTitle"
          ><%= libs.name %>
        </a>
        <ul class="indexInfo">
          <li><%= libs.description %></li>
          <li><%= libs.location %></li>
          <li class="price">$<%= libs.fee %></li>
        </ul>
      </div>
    </div>
    <% } %>
  </div>
</main>
